<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0r" package="com.wash_dry.washdry" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-feature android:name="android.hardware.location" android:required="false" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
	<application android:label="WashDry.Android" android:icon="@mipmap/ic_launcher">
		<!-- AIzaSyCsXJTnAOGLRRA7FXHhEFxcgZa8KYbjJ0I   AIzaSyDnxt86h-PIfB-KtbTUqoaI4LSgF13Dq6I  -->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCQ4cOCS62pVsgAM4aOIrbxXw76sWcqKM0" />
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
</manifest>